/*
#EDEDE9 EDEDE9
#D5BDAF D5BDAF
#F5EBE0 F5EBE0
#F5F4EF F5F4EF
#8B8784 8B8784
*/

body {
    background-color:#EDEDE9;
    color:#8B8784;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 10vmin;
    font-weight: bold;
}

h3 {
    font-size: 6.5vmin;
    font-weight: bold;
}

label {
    font-size: 3vmin;
    font-weight: normal;
}

.navbar-custom {
    background-color:#D5BDAF;
}

.navbar.navbar-expand-lg.navbar-dark {
    background-color:#D5BDAF;
    color: #8B8784;
}

.navbar-nav .nav-item.nav-link {
    color: #F5F4EF;
    font-weight: bold;
}

.navbar-nav .nav-item.nav-link:hover {
    color: #8B8784;
    font-style: oblique;
}

.navbar-nav .nav-item.nav-link:focus {
    color: #F5EBE0;
}

.form-control {
    border-radius: 4vmin;
    border: 0.5vmin solid #F5EBE0;
    background-color:#D5BDAF;
    color: #8B8784;
    font-size: 3vmin;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color:#8B8784;
    background-color:#D5BDAF;
    color: #8B8784;
}

::-ms-reveal {
    display: none;
  }

i.eyeball {
    color:#8B8784;
    cursor: pointer;
}

i button.material-symbols-outlined {
    border: 0;
    outline: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color:#8B8784;
}


div.color-toggle-div{
    margin-top: 1vmin;
    margin-right: 2vmin;
}

.btn.btn-primary {
    border-radius: 10vmin;
    border: 0.5vmin solid #F5F4EF;
    padding: 1.5vmin 3vmin;
    /* border: 0.75vmin solid#F5F4EF; */
    background-color: #D5BDAF;
    color:#F5F4EF;
    font-size: 4vmin;
}

.btn.btn-primary:hover {
    /* border: 0.75vmin solid#F5F4EF; */
    border-color: #8B8784;
    background-color: #EDEDE9;
    color:#8B8784;
    font-size: 4vmin;
}

.btn.btn-primary:active {
    /* border: 0.75vmin solid#F5F4EF; */
    outline: none !important;
    box-shadow: none !important;
    border: 1vmin solid #F5EBE0 !important;
    background-color: #8B8784 !important;
    color: #F5EBE0 !important;
    font-size: 5vmin !important;
    font-weight: bold;
}

.div-scrollable {
    white-space: nowrap;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 1vmin;
    height: 2vmin;
    
}
::-webkit-scrollbar-track-piece  {
    background-color: #D5BDAF;
}
::-webkit-scrollbar-thumb {
    background-color: #8B8784; 
    -webkit-border-radius: 0.75vmin;
}

::-webkit-scrollbar-thumb:active {
    background-color: #F5F4EF;
    -webkit-border-radius: 0.75vmin;
}

.table.table-dark.table-hover {
    background-color:#D5BDAF;
    color:#F5F4EF;
    font-size: 3vmin;
}

.table.table-dark.table-hover thead tr {
    background-color:#8B8784;
    color:#F5F4EF;
}

.table.table-dark.table-hover tbody tr:hover{
    background-color:#EDEDE9;
    color:#8B8784;
}

.alert.alert-danger {
    background-color:indianred;
    color:floralwhite;
    font-size: 3vmin;
    font-weight: bold;
}

.alert.alert-success {
    background-color:cadetblue;
    color:beige;
    font-size: 3vmin;
    font-weight: bold;
}

::selection {
    background-color: #8B8784;
    color: #F5F4EF;
}