/*
#0B132B
#1C2541
#3A506B
#5BC0BE
#6FFFE9
*/

body {
    background-color:#0B132B;
    color:#6FFFE9;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 10vmin;
    font-weight: bold;
}

h3 {
    font-size: 6.5vmin;
    font-weight: bold;
}

label {
    font-size: 3vmin;
    font-weight: normal;
}

.navbar-custom {
    background-color:#1C2541;
}

.navbar.navbar-expand-lg.navbar-dark {
    background-color:#1C2541;
    color: #6FFFE9;
}

.navbar-nav .nav-item.nav-link {
    color: #5BC0BE;
    font-weight: bold;
}

.navbar-nav .nav-item.nav-link:hover {
    color: #6FFFE9;
    font-style: oblique;
}

.navbar-nav .nav-item.nav-link:focus {
    color: #3A506B;
}

.form-control {
    border-radius: 4vmin;
    border: 0.5vmin solid #3A506B;
    background-color:#1C2541;
    color: #6FFFE9;
    font-size: 3vmin;
}

.form-control:focus {
    border-color:#6FFFE9;
    background-color:#1C2541;
    color: #6FFFE9;
}

::-ms-reveal {
    display: none;
  }

i.eyeball {
    color:#6FFFE9;
    cursor: pointer;
}

i button.material-symbols-outlined {
    border: 0;
    outline: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color:#6FFFE9;
}

div.color-toggle-div{
    margin-top: 1vmin;
    margin-right: 2vmin;
}

.btn.btn-primary {
    border-radius: 10vmin;
    border: 0.5vmin solid #5BC0BE;
    padding: 1.5vmin 3vmin;
    /* border: 0.75vmin solid#5BC0BE; */
    background-color: #1C2541;
    color:#5BC0BE;
    font-size: 4vmin;
}

.btn.btn-primary:hover {
    /* border: 0.75vmin solid#5BC0BE; */
    border-color: #6FFFE9;
    background-color: #0B132B;
    color:#6FFFE9;
    font-size: 4vmin;
}

.btn.btn-primary:active {
    /* border: 0.75vmin solid#5BC0BE; */
    outline: none !important;
    box-shadow: none !important;
    border: 1vmin solid #3A506B !important;
    background-color: #6FFFE9 !important;
    color: #3A506B !important;
    font-size: 5vmin !important;
    font-weight: bold;
}

.div-scrollable {
    white-space: nowrap;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 1vmin;
    height: 2vmin;
    
}
::-webkit-scrollbar-track-piece  {
    background-color: #1C2541;
}
::-webkit-scrollbar-thumb {
    background-color: #5BC0BE;
    -webkit-border-radius: 0.75vmin;
}

::-webkit-scrollbar-thumb:active {
    background-color: #6FFFE9;
    -webkit-border-radius: 0.75vmin;
}

.table.table-dark.table-hover {
    background-color:#1C2541;
    color:#5BC0BE;
    font-size: 3vmin;
}

.table.table-dark.table-hover thead tr {
    background-color:#0B132B;
    color:#5BC0BE;
}

.table.table-dark.table-hover tbody tr:hover{
    background-color:#0B132B;
    color:#6FFFE9;
}

.alert.alert-danger {
    background-color: hotpink;
    color:aliceblue;
    font-size: 3vmin;
    font-weight: bold;
}

.alert.alert-success {
    background-color:aqua;
    color:midnightblue;
    font-size: 3vmin;
    font-weight: bold;
}

::selection {
    background-color: #6FFFE9;
    color: #0B132B;
}