{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block customNav %}
{% endblock %}
{% block content %}
<br />
<h3 align="center">All Devices</h3>
<br />
<div class="div-scrollable">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Asset Tag #</th>
                <th>Device Type</th>
                <th>Device Status</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.asset_tag }}</td>
                <td>{{ device.device_type }}</td>
                <td>{{ device.device_status }}</td>
                <td>{{ device.note }}</td>
                <!-- Add more table data as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br />
{% endblock %}
