{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<form method="POST">
  <br />
  <h1 align="center">Login</h1>
  <div class="form-group">
    <label for="secretCode">Secret Code</label>
    <input
      type="password"
      class="form-control"
      id="secretCode"
      name="secretCode"
      placeholder="Enter the secret code"
    />
    <br />
    <div align="center">
      <i class="eyeball" id="visibilityBtn">
        <span class="material-symbols-outlined" id="eyeballIcon">visibility</span>
      </i>
    </div>
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

<script type="text/javascript">
  const visibilityBtn = document.getElementById("visibilityBtn")
  const eyeballIcon = document.getElementById("eyeballIcon")
  visibilityBtn.addEventListener("click", toggleVisibility)
  function toggleVisibility() {
    const passwordInput = document.getElementById("secretCode")
    if (passwordInput.type === "password") {
      passwordInput.type = "text"
      eyeballIcon.innerText = "visibility_off"
    } else {
      passwordInput.type = "password"
      eyeballIcon.innerText = "visibility"
    }
  }
</script>

{% endblock %}

