{% extends "base.html" %}  
{% block title %}Test{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="center">Test Form</h1> 
    <div class="from-group">
        <label for="assetTag">Asset Tag</label>
        <input
            type="number"
            class="form-control"
            id="assetTag"
            name="assetTag"
            placeholder="Enter asset tag #"
        />
    </div>
    <div class="from-group">
        <label for="deviceType">Device Type</label>
        <select 
            class ="form-control"
            id="deviceType"
            name="deviceType"
            placeholder="Select the device type"
        >
            <option value="laptop STAFF">laptop STAFF</option>
            <option value="laptop Student">laptop Student</option>
            <option value="Desktop">Desktop</option>
            <option value="Printer">Printer</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="from-group">
        <label for="deviceStatus">Device Status</label>
        <select 
            class ="form-control"
            id="deviceStatus"
            name="deviceStatus"
            placeholder="Select the device status"
        >
            <option value="Available">Available</option>
            <option value="In-Use">In-Use</option>
            <option value="Retired">Retired</option>
            <option value="Unknown">Unknown</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}