{% extends "base.html" %}  
{% block title %}Test{% endblock %}
{% block content %}
<form method="POST">
    <!--Test-->
    <h3 align="center">Test Form</h3> 
    <div class="from-group">
        <label for="assetTag">Asset Tag</label>
        <input
            type="number"
            class="form-control"
            id="assetTag"
            name="assetTag"
            placeholder="Enter asset tag #"
        />
    </div>
    <div class="from-group">
        <label for="deviceType">Device Type</label>
        <input
            list="deviceTypes" 
            type="text"
            class="form-control"
            id="deviceType"
            name="deviceType"
            placeholder="Select a device type"
        />
        <datalist id="deviceTypes"> <!-- matches the "list" attr in the input -->
            <option value="laptop STAFF">laptop STAFF</option>
            <option value="laptop Student">laptop Student</option>
            <option value="Desktop">Desktop</option>
            <option value="Printer">Printer</option>
            <option value="Other">Other</option>
        </datalist>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}